body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.calculatora {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
}

.pantalla {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.buttones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background-color: #ccc;
}

.button {
    padding: 20px;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.button:hover {
    background-color: #f0f0f0;
}

.zero {
    grid-column: span 2;
}

.button:active {
    background-color: #ddd;
}
